.App {
  text-align: center;
  background-color: black;
}

.Home{
  background-color: aqua;
  margin: 20px;
}

.List{
  background-color: darkblue;
  margin: 20px;
}

.Card{
  background-color: white;
  margin: 20px;
}

.Detail{
  background-color: yellow;
  margin: 20px;
}

